<div class="p-grid">
    <div class="p-col-1"></div>
    <div class="p-col-10">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>Consultas Veterinárias <i class="fas fa-paw"></i></h1>
            </div>
        </div>
    </div>
    <div class="p-col-1"></div>
</div>