::ng-deep {
    body {
        background-color: #f2f2f2;
        .logo {
            width: 200px;
            padding: 1rem;
        }
        .centraliza {
            display: block;
            float: none;
            margin: 0 auto;
        }
    }
}